#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app{
  color: #e9e9e9;
}

.app form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.user{
  padding: 20px 75px;
  margin: 50px;
  border: 5px solid #272727;
  border-radius: 50px;
  background-color: #252525;
}